@import 'login';
@import 'regestration';
$borderColor: #e7e7e7;
$backgroundColorNav: #f8f8f8; /*header, footer, sidebar*/
@mixin bothAfter {
        content: "";
        display: block;
        clear: both;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 100px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 80px; 
    padding: 30px 0;
    border: 1px solid transparent;
    background-color: $backgroundColorNav;
    border-color: $borderColor;
    z-index: 1000;
    p {
    text-align: center;
    }
}

.navmenu-fixed-left {
    top: 51px;
    bottom: 80px;
}

#sidebarMenu {

    padding-left: 0;
    padding-right: 0;
    li a {
        text-decoration: none;
        color: black;
        padding-left: 30px;
    }

    li {
        list-style: none; 
        cursor: pointer;

        :hover,
        :focus {
            color: #ffffff;
            background-color: #337ab7;
        }
    }
    .titleNews {
        li {
            padding: 10px 5px;
        }
    }
    div.btnAdd {
        padding-top: 40px;
        text-align: center;
        a {
            width: 100px;
        }
    }
}


.offcanvas-xs.in {
    top: 0;
    padding-top: 35px;
    width: 200px;
    bottom: 0;
}

.navbar-header button:nth-of-type(1){
    float: left;
    margin-left: 10px;
}
.navbar-right .hidden-xs {
    margin-right: 20px;
}

.logo_wrapper {
    margin-left: 60px;
}

.xs-menu {
    ul {
        text-align: center;
    }
    z-index: 996;
}

.btn-wrapper {
    text-align: center;
    margin: 30px 0;
}

.dashboard-wrapper {
    margin-top: 51px;
    @media (min-width: 768px) {
        margin-left: 300px;
        
    }
}
.index-wrapper,
.add-wrapper {
    margin-top: 100px;
    h1 , h3 , .successBtn {
        text-align: center;
    }
    .successBtn {
        a {
            width: 100px;
            margin-right: 20px;
        }
    }
}

.contentHead {
    padding-left: 30px;
    padding-right: 15px;
}

.list-lg {
    margin: 0;
}

.contentBody {
    padding: 10px;
    .feedTable {
        padding: 10px;
    }

    .article {
        height: 200px;
        margin-bottom: 20px;
        margin-right: 0;
        padding-left: 0;
        border: none;
        border-radius: 2px;
        transition: all .2s ease;
        box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
        
        &:hover {
            border: none;
            transition: all .2s ease;
            box-shadow: 0 5px 15px rgba(0,0,0,0.3);
            .footerArticle button {
                visibility: visible !important;
            }
        }
        .favouriteMark {
            border-color: transparent #ff9d00 transparent transparent;
            border-style: solid;
            border-width: 0 30px 30px 0;
            height: 0;
            left: 100%;
            margin-left: 8px;
            position: absolute;
            transform: translateX(-125%);
            width: 0;
        }
        .imgWrapper {
            width: 256px;
            height: 100%;
            float: left;
            margin-right: 20px;
            background-position-x: 50% !important; 
            background-position-y: 50% !important;
            background-size: cover !important;
            border-radius: 2px 0 0 2px;

        }
        .articleTitle {
            padding-top: 10px;
            height: 40px;
            margin-bottom: 10px;
        }
        .articleDescription {
            height: 70px;
            margin-bottom: 1.1em;
            overflow: hidden;
        }
        .articleTitle,
        .articleDescription,
        .footerArticle {
    
            margin-left: 20px;
        }
        .footerArticle {
            button {
                visibility: hidden;
            }
            span {
                &:nth-of-type(-1n+2) {
                    margin-left: 15px;
                    cursor: pointer;
                    &:hover {
                        color: #ff9d00;
                    }
                }
                &:nth-last-of-type(1) {
                    margin-top: 10px;
                    float: right;
                    color: rgba(148, 137, 137, 0.78);
                }
            }
        }
    }

    &::after {
        @include bothAfter;
    }
}


.feedTable {
        &::after {
        @include bothAfter;
    }
}
.sort-list {
    left: 135px;
}


.chevronRotated {
    transform: rotate(90deg) !important;
    transition: transform 0.35s linear;
}

.chevronRotate {
    transform: rotate(0);
    transition: transform 0.35s linear;
}

// add page
.form-wrapper,
.form-wrapper button {
    margin-top: 30px;
    button {
        width: 150px;
    }
}