<div class="row list-lg" >
    <div class="contentBody">
        <div class="feed">
            <div class="articleList col-lg-12" ng-repeat="article in articles" ng-click="readArticle(article.feedId, article.link)">
                <div class="favouriteMark"></div>
                <div class="articleTitle">
                    <strong>{{article.title}}</strong>
                </div>
                <div class="articleDescription">
                    {{article.content}}
                </div>
                <div class="articleRightSide">
                    <!-- <button class="btn btn-default" ui-sref="dashboard.article({param:article})">Read</button> -->
                    
                    <span class="fa fa-star-o fa-lg"></span>
                    <!-- <br> -->
                    <span class="fa fa-share-alt fa-lg"></span>
                </div>
            </div>
        </div>
        <!--feed-->
    </div>
</div>
<!--  -->