<div id="sidebarMenu" class="navmenu navmenu-default navmenu-fixed-left offcanvas-xs col-sm-2" role="navigation">
    <ul class="nav navmenu-nav">
        <li class=""><a ui-sref="dashboard"><span class="glyphicon glyphicon-align-justify"></span> All</a></li>
        <li ng-repeat="list in listSidebar" ng-click="rotateChevron($event)">
            <a data-toggle="collapse" data-target="#{{list.id}}"><span class="glyphicon glyphicon-chevron-right chevronRotate" ></span> {{list.category}}</a>
            <ul id="{{list.id}}" class="collapse titleNews">
                <li ng-repeat="titleFeeds in list.titleFeeds"><a href="#">{{titleFeeds}}</a></li>
            </ul>
        </li>
    </ul>
    <div class="btnAdd">
        <a ui-sref="dashboard.add" type="button" class="btn btn-primary">Add Feed</a>
        <button class="btn btn-default" ng-click="getListCategory()">get</button>
    </div>
</div>
